.header {
    background-color: #33C3F0;
    color: white;
    padding-top: 16px;
}

.field-error {
    color: red;
    font-size: 0.8em;
    font-weight: bold;
    margin-top: -8px;
}

.general-error {
    color: red;
    background-color: yellow;
    font-weight: bold;
    font-size: 1.5em;
    text-transform: uppercase;
    text-align: center;
    border: 1px solid black;
}
.miboton {
    margin-left: 8px;
}
