{% extends 'base.html' %}
{% block title %} Exchanger {% endblock %}
{% block body %} 
    <table  border="1">
        <tr>
            <th>Fecha</td>
            <th>Descripcion</td>
            <th>Moneda Comprada</td>
            <th>Cantidad Comprada</td>
            <th>Precio Unitario</td>
            <th>Unidad Pagada</td>
            <th>Cantidad Pagada</td>
        </tr>
        <tr>
            <td>11/7/2019</td>
            <td>Mi primera compra</td>
            <td>BTC</td>
            <td>1</td>
            <td>6500</td>
            <td>EUR</td>
            <td>6500</td>
        </tr>
                        

    </table>    

{% endblock %}