{% extends 'base.html' %}
{% block title %} Modifica Movimientos {% endblock %}
{% block body %} 
    <h1>Modificación de movimientos</h1>
    <p>Modifique los datos de la compra.</p>
    <form action="modificar" method="POST">
        <input class="u-full-width" type="number" name="ix" id="ix" value="{{ix}}" hidden>
        <div class="row">

            <div class="four columns">
                <label for="fecha">Fecha</label>
                <input class="u-full-width" type="date" name="fecha" id="fecha" placeholder="Fecha" value="{{registro_seleccionado[0]}}">
            </div>
            <div class="eight columns">
                <label for="concepto">Concepto</label>
                <input class="u-full-width" type="text" name="concepto" id="concepto" placeholder="Concepto" value="{{registro_seleccionado[1]}}">
            </div>
        </div>
        <div class="row">
            <div class="six columns">
                <label for="cantidadComprada">Cantidad comprada</label>
                <input class="u-full-width" type="number" name="cantidadComprada" id="cantidadComprada" placeholder="Cantidad Comprada" value="{{registro_seleccionado[3]}}"><br/>
            </div>
            <div class="six columns">
                <label for="monedaComprada">Moneda</label>
                <select class="u-full-width" name="monedaComprada" id="monedaComprada" >{{registro_seleccionado[2]}}
                    <option {{ 'selected' if registro_seleccionado[2]=='EUR' else ''}}  value="EUR">Euro</option>
                    <option {{ 'selected' if registro_seleccionado[2]=='BTC' else ''}} value="BTC">Bitcoin</option>
                    <option {{ 'selected' if registro_seleccionado[2]=='ETH' else ''}} value="ETH">Ethereum</option>
                    <option {{ 'selected' if registro_seleccionado[2]=='LTC' else ''}} value="LTC">Litecoin</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="six columns">
                <label for="cantidadPagada">Cantidad Pagada</label>
                <input class="u-full-width" type="number" name="cantidadPagada" id="cantidadPagada" placeholder="Cantidad Pagada" value="{{registro_seleccionado[5]}}"><br/>
            </div>
            <div class="six columns">
                <label for="monedaPagada">Moneda</label>
                <select class="u-full-width" name="monedaPagada" id="monedaPagada">
                    <option {{ 'selected' if registro_seleccionado[4]=='EUR' else ''}} value="EUR">Euro</option>
                    <option {{ 'selected' if registro_seleccionado[4]=='BTC' else ''}} value="BTC">Bitcoin</option>
                    <option {{ 'selected' if registro_seleccionado[4]=='ETH' else ''}} value="ETH">Ethereum</option>
                    <option {{ 'selected' if registro_seleccionado[4]=='LTC' else ''}} value="LTC">Litecoin</option>
                </select>
            </div>
        </div>
        <input class="button-primary u-pull-right" type="submit" value="Modificar">
    </form>
{% endblock %}